.editUser{
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    background-color: white;
    border-radius: 5px;
    border: none;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.editUserTitle{
    color: red;
    font-weight: bold;
}

.editUserInput{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.editUserInputGroup{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
}

.editUserTitleInput{
    font-size: 12px;
    font-weight: 600;
}

.editUserStyleInput{
    height: 30px;
}

.editUserButton{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.editUserSubmit{
   text-align: right;
   position: relative;
   bottom: 0px;
   padding-top: 50px;
   padding-bottom: 20px;
}