.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 10px;
}

.itemCourse {
  display: flex;
  flex-direction: column;
  width: 22%;
  background-color: white;
  border-radius: 15px;
  margin-right: 40px;
  margin-top: 30px;
  text-decoration: none;
}

.courseInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 2;
}

.imgCourse{
    height: 200px;
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imgUser{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.courseName{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;
    color: #292929;
    text-decoration: none;
}

.infoInstructor{
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-top: auto;
}

.userName{
    margin-right: 10px;
    margin-left: 10px;
    color: #292929;
}

.coursePrice{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #ff9100;
    margin-top: auto;
    text-decoration: none;
}

.coursePrice:hover{
  color: orange;
  text-decoration: underline;
}

.checkIcon{
    color: rgb(20, 214, 130);
}