.app {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
  
  .AppBody {
    display: flex;
    flex-direction: row;
    flex: 2;
    z-index: 1;
  }
  
  .appMenu {
    position: relative;
    left: 0;
    width: 250px;
    height: 100%;
  }
  