.wrapper-main{
    width: 250px;
    display: block;
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    position: fixed;
    top: 0;
    height: 110%;
    background-color: #fff;
    z-index: 880;
    left: 0;
    overflow: scroll;
    outline: none;
    
}

.sidebar-brand{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
}
.aside-menu{
    display: inline;

}
.logo{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #051121;
    
}

.menu{
    display: inline;
    align-content: center;
}
.menu-title{
    color: #a1a8ae;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 1rem;
}

.item-menu{
    display: flex;
    font-size: 14px;
    padding-left: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.item-menu:hover{
    display: flex;
    font-size: 14px;
    padding-left: 2rem;
    background-color: #d8cdea;
}

.content-item{
    display: inline-block;
    color: #052a5e;
    margin-left: 30px;
    font-weight: bold;
}
.force-overflow {
    min-height: 90px;
}

.wrapper-main::-webkit-scrollbar{
    width: 3px;
    background-color: #F5F5F5;
}

.wrapper-main::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.wrapper-main::-webkit-scrollbar-thumb {
    background-color:#052a5e;
}
