.header{
    border: 2px;
    background-color: #EF534F;
    min-height: 115px;
    width: 100%;
    text-align: center;
}
.body{
    border: 3px #fff;
    height: 70px;
    width: 100%;
    align-items: center;
    z-index: 890;
    background-color: transparent;
    display: flex;
    color: #f7f7f7;
    justify-content: space-between;
    padding-left: 30px;
}

.account{
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-header{
    display: inline-block;
    padding: 5px;
}

img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%!important;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    margin-right: .25rem!important;
}
.user{
    display: inline-block;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}