.wrapperMain{
    width: 100px;
    display: inline-block;
    box-shadow: 8px 8px 8px rgb(0 0 0 / 3%);
    position: fixed;
    top: 60;
    height: 110%;
    background-color: white;
    left: 0;
    overflow: hidden;
    outline: none;
    z-index: 995;
}

.sidebarBrand{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.asideMenu{
    display: inline;

}
.logo{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #051121;
    
}

.menu{
    display: inline;
    text-align: center;
}


.itemMenu{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #E8EBED;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.itemMenu:hover{
    background-color: #927ea5;
}

.contentItem{
    display: inline-block;
    color: #551A8B;
    font-weight: bold;   
}
