.container{
    display: flex;
    flex-direction: column;
    width: 110%;
    margin-left: -30px;
    margin-right: -20px;
    padding-left: 20px;
}

.profile{
    height: 280px;
    background-color: white;
    margin-left: -10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    flex: 3;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.link{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user{
    display: flex;
    flex-direction: row;
    width: calc(140px *4);
    justify-content: left;
    margin-bottom: 20px;
}

.imgAvatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: auto;
}

.name{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

.userNameInfo{
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.userDes{
    color: black;
}

.count{
    display: flex;
    flex-direction: row;
}

.itemCount{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 80px;
    text-align: center;
    border: 1px solid #4F4848;
}

.itemName{
    margin: auto;
    font-weight: 600;
    color: black;
}

.itemNumber{
    margin: auto;
    font-weight: 600;
    color: black;
}

.listLink{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.report{
    color: black;
    margin-left: 90px;
}

.fb{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #3B5998;
    margin-left: 5px;
    border-radius: 5px;
}

.twitter{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #1DA1F2;
    margin-left: 5px;
    border-radius: 5px;
}

.linked{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #8D6CAB;
    margin-left: 5px;
    border-radius: 5px;
}

.youtube{
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #FF0000;
    margin-left: 5px;
    border-radius: 5px;
}

.subscript{
    width: 125px;
    height: 40px;
    background-color: #FF0000;
    color: white;
    font-weight: 400;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-left: 35px;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .itemCourse {
    display: flex;
    flex-direction: column;
    width: 21%;
    background-color: white;
    border-radius: 15px;
    margin-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
  }
  
  .courseInfo{
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 2;
  }
  
  .imgCourse{
      height: 200px;
      flex-shrink: 0;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  .imgUser{
      border-radius: 50%;
      width: 30px;
      height: 30px;
  }
  
  .courseName{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 10px;
      margin-left: 5px;
      color: #292929;
      text-decoration: none;
  }
  
  .infoInstructor{
      display: flex;
      flex-direction: row;
      height: 50px;
      flex-shrink: 0;
      margin-left: 5px;
      margin-top: auto;
  }
  
  .userName{
      margin-right: 10px;
      margin-left: 10px;
      color: #292929;
  }
  
  .coursePrice{
      text-align: right;
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 500;
      color: #292929;
      margin-top: auto;
  }
  
  .checkIcon{
      color: rgb(20, 214, 130);
  }